* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  min-height: 100vh;
  // background: linear-gradient(120deg,  #3e3e3e, #999999, #3e3e3e,);
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  transition: filter 0.3s ease;
}