@use "./components/Menu";
@use "./components/Productos";
@use "./components/Logo";


/* styles/index.module.scss */
.blurText {
  filter: blur(20px);
  transition: filter 0.3s ease;
}

.floatingCart {
  display: grid;
  place-content: center;
  z-index: 1000;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  box-shadow: inset 0 0 15px rgb(3, 235, 223);
  cursor: grab;
  transition: background-color 0.3s;
  right: 20px; // Pegado a la derecha
  top: 20px;  // Más abajo desde arriba

  &:hover {
    background-color: #f0f0f0;
  }

  svg {
    color: #000000;
  }
}


